page-register {
  ion-content {
    background-size: cover;
    background: url(../assets/img/im_background_login.png) center top;
    background-size: cover;
    background-position: center;
  }

  ion-grid {
    min-height: 100vh;
    display: flex;
    &.grid {
      padding: 0;

      [container-image] {
        display: flex;
        min-height: 200px;
        max-height: 200px;
        justify-content: center;
        align-items: center;
        img {
          display: flex;
          border-radius: 50%;
          background-color: #f1f1f1;
          width: 100px;
          height: 100px;
        }
      }

      [container-title]{
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
        color: white;
      }


      [container-form] {
        display: flex;
        flex-direction: column;
        flex: 1;

        ion-item {
          &.item-ios, &.item-md {
            background-color: transparent;
            border: 2px solid $smokeWhite;
            border-radius: 4px;
            margin-bottom: 10px;
            .item-inner{
              border-bottom: 0 !important;
              box-shadow: none !important;
              padding: 0;
              input{
                font-size: 1.5rem;
                height: 40px;
                margin: 0;
                color: white;
                padding-right: 10px;
              }
            }
            &.has-error{
              border-color: red;
              .item-inner{
                border: 0;
                input{
                  color: red;
                }
              }
            }
          }
        }

        [button-sign-up]{
          margin-top: 20px;
          height: 45px;
          font-weight: bold;
          border-width: 2px;
        }
      }

      [container-sign-in]{
        display: flex;
        [button-sign-in]{
          font-size: 1.5rem;
          color: white;
        }
      }
    }
  }
}
