//////////////////
// NAVBAR
//////////////////
$navbar-default-bg-color:           #9c9ca8;
$navbar-default-text-transform:     uppercase;

//////////////////
// MENU
//////////////////

$menu-default-bg-color:               #464652;
$menu-default-avatar-bg-color:        #d7d7d7;